spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/paymentdb
    username: paymentuser
    password: paymentpass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      INDENT_OUTPUT: true
server:
  port: 8080
jwt:
  secret: mysecretkey1234567890
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics


authorizenet:
  api-login-id: 64g6g5NndvYM
  transaction-key: 37ZCjSWq3k6k934g
  environment: SANDBOX   # or PRODUCTION later
